h1 {
  font-family: "Syncopate", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(var(--background));
  color: rgb(var(--text));
}

footer {
  margin-top: auto;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.section {
  @apply w-full px-6 md:px-12;
}
