h1 {
  font-family: "Syncopate", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: rgb(var(--text));
}

footer {
  margin-top: auto;
}

.clampcontainer {
  max-width: 1024px;
  margin: 0 auto;
}
