@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Syncopate:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Raleway", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text: #1b1e3d;
  --secondary: #282b50;
  --primary: #f7a245;
  --white: #ffffff;
  --border: #b6b6b6;
  --background: #fafcfc;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

h1,
h2 {
  font-family: "Syncopate", sans-serif;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

:dark {
  --text: #1b1e3d;
  --secondary: #282b50;
  --primary: #f7a245;
  --white: #ffffff;
  --border: #b6b6b6;
  --background: #fafcfc;
}
